body {
    
    border-style: solid black;
    text-align: center;
}
table{
    display: inline-table;
    margin-top: 20px;
}
th,td,tr{
    border: 2px solid black;
}
form{
    display: list-item;
}

/* body{
  text-align: center;
}

table{  
  display:inline-table; 
       margin-top: 20px;
}

th,td,tr{  
  border: 2px solid black;
} */